<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>simpleChat - auth</title>
  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="../../../bower_components/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="../../../bower_components/crypto-js/crypto-js.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../style.css" />
</head>
  <body>
    <h1 class="header">SimpleChat</h1>
    <hr>

    <form>

      <div class="container">

        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="email" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
          <small id="usernameHelp" class="form-text text-muted">How your friends will find you!</small>
        </div>

        <div class="well">
          <div class="form-group">
            <label for="inputFile">Public Key</label>
            <input type="file" class="form-control-file center" id="inputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="from-text text-muted">Upload your public key here!</small>
          </div>
        </div>

      </div>

    </form>

  </div>
  </body>
  <script>
  </script>
</html>
