<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>simpleChat</title>
    <script type="text/javascript" src="bower_components/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="bower_components/crypto-js/crypto-js.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1 style="text-align: center">simpleChat</h1>
    <p style="text-align: center">
      We are using Node.js <script>document.write(process.versions.node)</script>,
      Chromium <script>document.write(process.versions.chrome)</script>,
      and Electron <script>document.write(process.versions.electron)</script>.
    </p>
    <div id="app">
      <p>Message: </p><input v-model="message">
      <p>Secret: </p><input v-model="secret">
      <p>Data : {{data}}</p>
      <button v-on:click="enc">Encrypt</button>
      <button v-on:click="dec">Decrypt</button>
    </div>
  </body>
<script>
    var json, ciphertext, decrypted, plaintext;
    var app = new Vue({
      el: "#app" ,
      data : {
        message: "Plain Text here" ,
        secret: "Secret Passphrase" ,
        data : ""
      } ,
      methods : {
        enc : function () {
          json = CryptoJS.AES.encrypt(this.message, this.secret);
          ciphertext = json.ciphertext.toString(CryptoJS.enc.Base64);
          this.data = ciphertext;
          this.message = ciphertext;
          this.secret = "";
        } ,
        dec : function () {
            decrypted = CryptoJS.AES.decrypt(json, this.secret)
            plaintext = decrypted.toString(CryptoJS.enc.Utf8);
            this.data = plaintext;
            this.message = plaintext;
        }
      }
    })
  </script>
</html>
