<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>simpleChat</title>
      <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.min.css">
      <script type="text/javascript" src="public/crypto-js/crypto-js.js"></script>
      <script type="text/javascript" src="public/vue/dist/vue.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../public/style.css" />
    </head>
    <body>

      <h1 style="text-align: center">simpleChat</h1>
      <hr>
      <div class="container" id="chatApp">
    <div v-if="!join" id="join" class="text-center">
        <form v-on:submit.prevent="joinChat(name)">
            <div class="form-group">
                <input type="text" class="form-control input-lg text-center" v-model="name" placeholder="Name">
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Join</button>
        </form>
    </div>
    <div v-if="join" class="text-center">

      <p>Hello, {{name}}</p>
        <p style="display:inline">Key: </p><input v-model="key"></input>
        <br>
        <p style="display:inline">PT: </p><input v-model="pt"></input>
        <br>
        <p style="display:inline">CT: </p><input v-model="ct"></input>
        <br>
      <button v-on:click="enc">enc</button>
      <button v-on:click="dec">dec</button>
      <p>{{msg}}</p>
      <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">{{message}}</li>
      </ul>
    </div>
    <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item" v-for="user in users">{{user}}</li>
    </ul>
  </div>
      <div class="container">
        <div class="col-md-6">
          <form v-on:submit.prevent="send" class="input-group">
            <input v-model="message" type="text" class="form-control" placeholder="message">
            <span class="btn">
              <button class="btn btn-secondary" type="submit">Send</button>
        </form>
      </div>
    </div>
    </div>
  </div>
    </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');
    var json, ciphertext, decrypted, plaintext;
    socket.on('announcement', function(data) {
        console.log('Got announcement:', data.message);
    });
    var vm = new Vue({
    el: '#chatApp',
    data: {
        join: false,
        name: null,
        msg: null,
        ct: null,
        pt: null,
        key: null,
        // new
        message: '',
        messages: [],
        users: []
    },
    mounted: function() {
        socket.on('chat.message', function(message) {
            this.messages.push(message);
        }.bind(this));
        socket.on('user.add', function(user) {
          this.users.push(user);
        }.bind(this));
        //  May be a issue with working on this array
        //  not sure how threading works with JS
        socket.on('user.remove', function(user) {
          var index = this.users.indexOf(user);
          if (index > -1)  {
            this.users.splice(index, 1);
            console.log('worked');
          }
        }.bind(this));
    },
    methods: {
        joinChat : function (name) {
            if (name) {
                this.name = name;
                this.join = true;
                socket.emit('join', name);
            }
        } ,
        enc : function () {
            json = CryptoJS.AES.encrypt(this.pt, this.key);
            ciphertext = json.ciphertext.toString(CryptoJS.enc.Base64);
            this.ct = ciphertext;
            this.msg = ciphertext;
        } ,
        dec : function () {
            decrypted = CryptoJS.AES.decrypt(json, this.key)
            plaintext = decrypted.toString(CryptoJS.enc.Utf8);
            this.pt = plaintext;
            this.msg = plaintext;
        } ,
        send: function(event){
            socket.emit('chat.message', '<' + this.name + '> ' + this.message);
            this.message = '';
        }
    } ,
    });
  </script>
</html>
