<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>simpleChat</title>
      <link rel="stylesheet" href="public/JS/bootstrap/dist/css/bootstrap.min.css">
      <script type="text/javascript" src="public/JS/crypto-js/crypto-js.js"></script>
      <script type="text/javascript" src="public/JS/vue/dist/vue.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../public/style.css" />
    </head>
    <body>
      <!--  Title -->
      <h1 class="header">SimpleChat</h1>
      <!--  chatApp container -->
      <div class="container" id="chatApp">
        <!--  Choose username -->
        <div v-if="!join" id="join" class="text-center">
          <h2 class="subheader">
            Subheading
          </h2>
          <h2 class="paragraph ">
            The first approach uses Bootstrap's own offset classes so it requires no change in markup and no extra CSS. The key is to set an offset equal to half of the remaining size of the row. So for example, a column of size 2 would be centered by adding an of
          </h2>
          <hr>
          <form v-on:submit.prevent="joinChat(name)">
            <div class="form-group form-group-md">
                <input type="text" class="form-control input-md text-center" v-model="name" placeholder="Name">
            </div>
            <button class="btn btn-primary btn-md" type="submit">Join</button>
        </form>
      </div>
      <div v-if="join" class="text-center">
      <div v-if="!keySet" id="key" class="text-center">
        <form v-on:submit.prevent="setKey(key)">
          <div class="form-group form-group-md">
              <input style="height:200px;font-size:14pt;" type="text" class="form-control input-md text-center" v-model="key" placeholder="Key">
          </div>
          <button class="btn btn-primary btn-md" type="submit">Set</button>
      </form>
      </div>
    </div>

      <!--  Messaging -->
    <div v-if="join" class="text-center">
      <div v-if="keySet" class="text-center">
      <p>Hello, {{name}}</p>
      <div class="col-md-6">
        <h3>Users</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="user in users">{{user}}</li>
      </ul>
    </div>
    <hr>
      <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">{{message}}</li>
      </ul>
    </div>
      <div class="container">
        <div class="col-md-6">
          <form v-on:submit.prevent="send" class="input-group">
            <input v-model="message" type="text" class="form-control" placeholder="message">
            <span class="btn">
              <button class="btn btn-secondary" type="submit">Send</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var messageDecrypt = (message, key) => {
      var decrypted = CryptoJS.AES.decrypt(message, key)
      var plaintext = decrypted.toString(CryptoJS.enc.Utf8);
      return (plaintext);
    }
    var socket = io.connect('/');
    socket.on('announcement', function(data) {
        console.log('Got announcement:', data.message);
    });
    var vm = new Vue({
    el: '#chatApp',
    data: {
        join: false,
        keySet: false,
        name: null,
        key: "secret",
        message: '',
        messages: [],
        users: [],
        key: ''
    },
    mounted: function() {
        //  Get chat message
        socket.on('chat.message', function(data) {
            //  console.log(data);
            var plaintext = messageDecrypt(data.message, this.key);
            this.messages.push({ name : this.name , message : plaintext});
        }.bind(this));
        //  Update user list
        socket.on('users.update', function(users) {
          this.users = users;
          console.log(users);
        }.bind(this));
        //  Update messages
        socket.on('chat.update', function(data) {
          //  Decrypt message in messages
          for ( var i = 0; i < data.length; i++ ) {
            data[i].message = messageDecrypt(data[i].message, this.key);
          }
          this.messages = data;
          data = null;
        }.bind(this));
    },
    methods: {
        joinChat : function (name) {
            if (name) {
                this.name = name;
                this.join = true;
                socket.emit('join', this.name);
            }
        } ,
        setKey : function (key) {
          if (key) {
            this.key = key;
            this.keySet = true;
            socket.emit('ready' , this.name);
          }
        } ,
        //  Issue with sending ciphertext OBJ ?
        send: function(event){
            var ciphertext = CryptoJS.AES.encrypt(this.message, this.key).toString();
            //console.log("Sending: " + ciphertext);
            socket.emit('chat.message', { name : this.name , message : ciphertext });
            this.message = '';
        }
    } ,
    });
  </script>
</html>
