<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>simpleChat - auth</title>
  <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="../../../bower_components/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="../../../bower_components/crypto-js/crypto-js.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../style.css" />
</head>
  <body>

    <h1 class="header">SimpleChat</h1>

    <hr>

  </body>
  <script>
  </script>
</html>
