<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>simpleChat</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  <body>
    <h1 class="header">SimpleChat</h1>
    <hr>
      <h2 class="paragraph well">
        Login or signup to chat with other simpleChat users one-on-one!
        <p>
          <a href="auth/login/index.html">Login</a> / <a href="auth/signup/index.html">Signup</a>
        </p>
      </h2>
      <hr>
      <h2 class="paragraph well">
        If you don't want to create an account or want to try a groupchat/ chatroom then continue here!
        <br>
        <a href="chatroom/index.html">Chatrooms</a>
      </h2>
      <hr>
  </body>
  <script>
  </script>
</html>
